[user]
	name = Cyprien DECOUTY
	mail = cyprien.decouty@gmail.com
	email = cyprien.decouty@gmail.com
[github]
  user = cypriend
[push]
	default = tracking
[core]
  excludesfile = ~/.gitignore
  autocrlf = input


