[user]
	name = Cyprien DECOUTY
	mail = cyprien.decouty@gmail.com
	email = cyprien.decouty@gmail.com
[github]
  user = cypriend
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
    delete-branch = !sh -c 'git push origin :refs/heads/$1 && git branch -D $1' -
    merge-branch = !git checkout master && git merge @{-1}
    undo = reset --soft HEAD^
    latest = for-each-ref --count=30 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
    ds  = diff --staged
    st  = status -sb
[push]
	default = tracking
[core]
  excludesfile = ~/.gitignore
  autocrlf = input


